@font-face {
    font-family: 'Hachi Maru Pop';
    src: url('/53/fonts/HachiMaruPop-Regular.woff2') format('woff2'),
        url('/53/fonts/HachiMaruPop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
