.btn-open {
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452);
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.modal__window { 
    position: relative;
    width: 50vw;
    min-height: 40vh;
    padding: 50px 20px 20px 20px;
    background: white;
    border-radius: 12px;
}

.modal__close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal--open {
    display: flex;
    opacity: 1;
    visibility: visible
}