.footer {
    color: var(--bg-color-general);
    padding: 60px 0;
    background: #AB8261;
}

.footer__inner {
    gap: 40px 30px;
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo:first-child {
    margin-top: -30px;
}

.social__list {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.social__link path {
    transition: all .4s;
}

.social__link:hover path {
    fill: var(--accent-color);
}


.footer__col-list {
    margin-bottom: 20px;
}

.footer__col-list:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    padding: 5px 0;
    position: relative;
    z-index: 1;

}


.footer__col-link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    opacity: 0;
    transition: .4s;
}

.footer__col-link:hover::before {
    opacity: 2;
}

.footer__contact-adress {
    margin-bottom: 10px;
}

.footer__contact-tel {
    display: block;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 47px;
    transition: all .4s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}


