:root {
    --general-text: #312C27;
    --bg-color-general: #FFF9F4;
    --accent-color: #FFA55C;
    --bg-color-accent: #FFE0CB;
    --accent-text: #1F1711;

}


.body {
    background: var(--bg-color-general);
    color: var(--general-text);
    line-height: 1.5;
    font-family: "Montserrat", "Arial", sans-serif;
}

.body--open-menu {
    overflow: hidden;
}

.body--open-modal {
    overflow: hidden;
}

.body--open-modal .modal {
    opacity: 1;
    visibility: visible;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 18px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 60px;
    background: var(--accent-color);
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

.modal {
    padding: 15px;
    position: fixed;
    inset: 0;
    z-index: 11;
    background: #0000007c;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal__window {
    position: relative;
    width: 428px;
    background: var(--bg-color-general);
    padding: 0 60px 60px;
    border-radius: 20px;
}

.modal__cancel {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
rect {
    transition: all .4s;
}


.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}



.modal__img {
    max-width: 248px;
    width: 100%;
    margin: -65px 0 15px 14px;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    font-family: 'Gabriola';
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: all .4s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    transition: all .4s;
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    border-color: var(--accent-color);
    padding: 26px 42px 12px 28px;
}

.field span {
    transition: all .4s;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;

}

.main__gallerey{
    margin-bottom: 140px;
}
