:root {
    --general-text: #312C27;
    --bg-color-general: #FFF9F4;
    --accent-color: #FFA55C;
    --bg-color-accent: #FFE0CB;
    --accent-text: #1F1711;

}


.body {
    background: var(--bg-color-general);
    color: var(--general-text);
    line-height: 1.5;
    font-family: "Montserrat", "Arial", sans-serif;
}

.body--open-menu {
    overflow: hidden;
}

.body--open-modal {
    overflow: hidden;
}
.body--open-modal .modal{
    opacity: 1;
    visibility: visible;

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 18px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 60px;
    background: var(--accent-color);
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 11;
    background: #0000007c;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal__window {
    position: relative;
    width: 428px;
    background: var(--bg-color-general);
    padding: 0 60px 60px;
    border-radius: 20px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
rect {
    transition: all .4s;
}


.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}



.modal__img {
    margin: -65px 0 15px 14px;
}

.modal__title {
    font-size: 42px;
    line-height: .9;
    font-family: 'Gabriola';
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: all .4s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    transition: all .4s;
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    border-color: var(--accent-color);
    padding: 26px 42px 12px 28px;
}

.field span {
    transition: all .4s;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;

}


/* ================================================================ */

.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    z-index: 11;
    max-width: 174px;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.burger-icon span {
    display: block;
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    width: 30px;
    height: 3px;
    background: var(--accent-text);
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;

}

.burger-icon span::before {
    bottom: 8px;
}

.burger-icon span::after {
    top: 8px;
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.body--open-menu .burger-icon span::after {
    top: 0;
    transform: rotate(-45deg);
}



.list__link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.list__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    opacity: 0;
    transition: .4s;
}

.list__link:hover::before {
    opacity: 2;
}

/* ========================================================================= */
.hero {

    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    display: flex;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #b197b2;
    display: inline-block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-size: 74px;
    line-height: 0.82;
    font-family: 'Gabriola';
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button {

    max-width: 358px;
    width: 100%;
}

.hero__img {
    margin-right: 245px;
    position: relative;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: 339px;
    gap: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #FFE0CB;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    padding-left: 2%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    inset: 5px;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: all .4s;

}

.hero__img-button:hover:before {
    opacity: 1;
}

/* =========================================================================== */
.about__indent {
    padding: 140px 0;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 53px;
}

.about__img {
    position: relative;
    overflow: hidden;
}

.about__img>img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-control {
    display: flex;
    max-width: 300px;
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    bottom: 4.8%;
    left: 5%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: #957b97e6;
    border-radius: 20px;
    color: var(--bg-color-general);
}

.about__img-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--bg-color-general);
    width: 78px;
    height: 78px;
    border-radius: 100%;
    padding-left: 2%;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    inset: 5px;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: all .4s;

}

.about__img-button:hover:before {
    opacity: 1;
}

.h2 {
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
    font-family: 'Gabriola';
}

.title__text {
    margin-bottom: 30px;
}

.about__text {
    margin-bottom: 40px;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.cards__list {
    display: flex;
    gap: 15px;
    background: var(--bg-color-accent);
    border-radius: 20px;
    padding: 29px 24px;
    justify-content: center;
    align-items: center;
}

.cards__img {
    display: flex;
    border: 1px solid var(--general-text);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}



/* ========================================================================== */

.footer {
    color: var(--bg-color-general);
    padding: 60px 0;
    background: #AB8261;
}

.footer__inner {
    gap: 40px 30px;
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo:first-child {
    margin-top: -30px;
}

.social__list {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.social__link path {
    transition: all .4s;
}

.social__link:hover path {
    fill: var(--accent-color);
}


.footer__col-list {
    margin-bottom: 20px;
}

.footer__col-list:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    padding: 5px 0;
    position: relative;
    z-index: 1;

}


.footer__col-link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    opacity: 0;
    transition: .4s;
}

.footer__col-link:hover::before {
    opacity: 2;
}

.footer__contact-adress {
    margin-bottom: 10px;
}

.footer__contact-tel {
    display: block;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 47px;
    transition: all .4s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}








/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

@media (max-width: 1200px) {
    .hero__img {
        max-width: 377px;
        margin-right: 0px;
    }

    .hero__img>img {
        width: 100%;
    }

    .hero__img-control {
        margin-top: 30px;
        position: static;
        max-width: 377px;
    }

    /* ========================= */
    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1/ -1;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .nav__item {
        z-index: 10;
        position: fixed;
        inset: 0;
        background: var(--bg-color-general);
        padding: 24vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .burger-icon {
        display: flex;
    }

    .body--open-menu .nav__item {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ============================================= */
    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:nth-child(2) {
        margin-top: 40px;
    }

    .footer__col:nth-child(3) {
        margin-top: 40px;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px
    }

    .hero__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .hero__title {
        font-size: 12vw;
    }

    .hero {
        padding-bottom: 80px;
    }
}