:root {
    --general-text: #312C27;
    --bg-color-general: #FFF9F4;
    --accent-color: #FFA55C;
    --bg-color-accent: #FFE0CB;
    --accent-text: #1F1711;

}


body {
    background: var(--bg-color-general);
    color: var(--general-text);
    line-height: 1.5;
    font-family: "Montserrat", "Arial", sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 18px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 60px;
    background: var(--accent-color);
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

/* ================================================================ */

.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.list__link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.list__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: var(--accent-color);
    opacity: 0;
    transition: .4s;
}

.list__link:hover::before {
    opacity: 2;
}

.hero {

    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    display: flex;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #b197b2;
    display: inline-block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-size: 74px;
    line-height: 0.82;
    font-family: 'Gabriola';
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button {

    max-width: 358px;
    width: 100%;
}

.hero__img {
    margin-right: 245px;
    position: relative;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: 339px;
    gap: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #FFE0CB;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    padding-left: 2%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    inset: 5px;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: all .4s;

}

.hero__img-button:hover:before {
    opacity: 1;
}

/* ======================================================== */
