.cheif {
    box-sizing: border-box;
    height: 400px;
    background: #e5b0e7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 1px #000000;
    overflow: auto;
}

.cards {
    padding: 20px;
    margin: 5px;
    width: 200px;
    height: 170px;
    display: inline-block;
    background: #f0d59a;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #000000;
}